<h2>Contribute to Mixtape</h2>

<p>You can either</p>
<ul>
	<li><%= link_to "Add a new album or review", prelookup_artists_path %></li>
	<li><%= link_to "Submit a new piece of news", new_news_item_path %></li>
</ul>