<h2>Our Writers</h2>

<ul>
	<% for user in @users %>
		<% if user.has_role?("editor") || user.reviews.count > 1 && user.id != 1 %>
			<li><%= link_to user.name, user %></li>
		<% end  %>
	<% end %>
</ul>