<div id="formatting_guide">
<h2>Formatting Guide</h2>
<p>Mixtape Attack uses a markup language known as Textile. Textile allows our reviewers to style and format their text without having to use any complex HTML in their review body. Below are a few common styles you might be interested in using. If you want to find out more or try out a few shortcuts before writing, visit <a href="http://textile.thresholdstate.com/">textile.thresholdstate.com</a>.</p>
	<table>
		<thead>
			<tr class="even">
				<th>You type</th>
				<th>You get</th>
			</tr>
		</thead>
		<tbody>
			<tr class="odd">
				<td>*Bold*</td>
				<td><strong>Bold</strong></td>
			</tr>
			<tr class="even">
				<td>_Italic_</td>
				<td><em>Italic</em></td>
			</tr>
			<tr class="odd">
				<td>-Strikethrough-</td>
				<td><s>Strikethrough</s></td>
			</tr>
			<tr class="even">
				<td>h2. Header 2<br />
					h3. Header 3<br />
					h4. Header 4</td>
				<td><h2 style="margin: 0; padding: 0;">Header 2</h2>
					<h3 style="margin: 0; padding: 0;">Header 3</h3>
					<h4 style="margin: 0; padding: 0;">Header 4</h3></td>
			</tr>
			<tr class="odd">
				<td>bq. Quoted Text</td>
				<td><blockquote style="margin-top: 0; margin-bottom: 0;">Quoted Text</blockquote></td>
			</tr>
			<tr class="even">
				<td>* List item 1<br />
					* List item 2<br />
					* List item 3</td>
				<td><ul style="margin-top: 0; margin-bottom: 0;"><li>List item 1</li><li>List item 2</li><li>List item 3</li></ul></td>
			</tr>
			<tr  class="odd">
				<td># List item 1<br />
					# List item 2<br />
					# List item 3</td>
				<td><ol style="margin-top: 0; margin-bottom: 0;"><li>List item 1</li><li>List item 2</li><li>List item 3</li></ol></td>
			</tr>
			<tr class="even">
				<td>&lt;notexttile&gt;<br />*No formatting*<br />&lt;/notexttile&gt;</td>
				<td>*No formatting*</td>
			</tr>
		</tbody>
	</table>
</div>