/************* HEADER *****************/

#utility_top { text-align: right;}
#utility_top ul { list-style: none; }
#utility_top ul li {	display: inline; padding-right: 1em;}

/************* FOOTER *****************/

#utility_bottom {}
#utility_bottom ul { list-style: none; text-align: right;}
#utility_bottom ul li {display:inline; padding-right: 1em;}