body {padding-top: 34px;}
a {text-decoration: none; border-bottom: 1px solid;}
label { clear: left; display: block; margin-top: 2em;}

/************* HEADER ***********************/

#header { padding-bottom: 2em;}
#header h1 {display: none;}
#header a { border-bottom-width: 0;}
/************* UTILITY NAVS *****************/

#utility_bottom { float: left;}
#utility_bottom ul { list-style: none; text-align: right; margin: 0;}
#utility_bottom ul li {display:inline; padding-right: 1em;}

/************* USERNAV ****************/
#usernav {
	background-color: #333; 
	padding: 0;	margin: 0;
	color: white;
	height: 34px;
	position: absolute;
	width: 100%;
	top:0;	left: 0; z-index: 1;
}
#usernav ul {
	margin: 0;	padding: 0;
	padding-right: 2em;	padding-top: 8px;
	list-style: none;
	float: right;
}
#usernav li { margin: 0;	padding: 0;	display: inline; padding-right: 2em; }
#usernav h6 { float: left; color: white;	padding-left: 2em; padding-top: 8px; }
#usernav a { color: white; border-bottom: none;}
#usernav a:hover { color: #ccc; border-bottom: 1px solid;}

/************* NAV ********************/

#nav { text-align: right; padding-top: 19px; }
#nav ul {list-style-type: none; margin: 0; width: 300px; float: right; margin-right: 3em;}
#nav ul li { text-align: right; margin-top: .5em;}
#nav ul li a {
	display: block;
	font-size: 1.8em; 
	border-bottom-width: 0; 
	font-weight: bold;
	text-transform: uppercase; 
	color: #333;
	 width: 300px; 
	padding-right: 1em;
}
#nav ul li a:hover { background-color: #333; color: white; }

/************* CONTENT ****************/

#content {clear: both;}

/************* FOOTER *****************/

#footer {clear:both; text-align: right; margin-top: 2em; padding-top: 2em;}

/************* FRONT PAGE *************/
dl#front_calendar a {text-decoration: none; border-bottom-width: 0;}
dl#front_calendar a:hover {border-bottom-width: 1px;}
dl#front_calendar .artist {font-weight: bold;}

.front_review { clear: left; margin-bottom: 2em;}
.front_review .front_image {float: left; margin-right: 1em; margin-bottom: 1em;}
.front_review .rating {float: right; padding: 0; padding-top: .2em; padding-bottom: .2em; width: 2em; text-align: center;
	 background-color: #333; color: white; font-size: 1.4em; font-weight: bold;}
.front_review .albumartist {font-size: 1.2em; font-weight: bold;}
.front_review .byline {font-size: .9em;  font-variant: italic; margin-bottom: .6em;}
.front_review a {color: #444; border-bottom-width: 0;}
.front_review a:hover {color: #777; border-bottom-width: 1px;}
.front_review .genres a {margin-right: .4em;}

/************ REVIEW PROCESS **********/

#review_form_info #artist { font-size: 1.2em; font-weight: bold;}
#review_form_info h5 {margin-top: 1em;}


/************ ALBUMS AND REVIEWS GLOBAL*********/
#scores {background-color: #333; color: white; font-size: 2.4em; text-align: center;}
#related {margin-top: 2em;}
/************ ALBUM SHOW PAGE *********/

#album_reviews {clear: both; margin-top: 2em;}
#album_reviews .album_review { margin-top: 2em;}
#album_reviews .rating {float: left; margin-right: 1em; margin-bottom: 1em; padding: 0; padding-top: .2em; padding-bottom: .2em; width: 2em; text-align: center;
	 background-color: #333; color: white; font-size: 1.4em; font-weight: bold;}
	
/************ REVIEW SHOW PAGE *********/

#album_review {margin-top: 2em;}