<h2>Albums We Know About</h2>

<%= will_paginate @albums %>

<dl>
<% @albums.group_by(&:artist).each do |artist, albums| %>
	<dt><%= link_to artist.name, artist %></dt>
	<% for album in albums %>
		<dd><%= link_to album.name, album %></dd>
	<% end %>
<% end %>
</dl>

<%= will_paginate @albums %>