<%= title "Review " + @album.name + " by " + @album.artist.name, :h2 %>

<% form_for(@review) do |f| %>
  <%= f.error_messages %>

	<%= render :partial => 'reviews/form', :locals => {:f => f, :album => @album} %>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>