<div id="header">
	<div class="container">
		<h1 id="logo"><a href="/">Swiftkick Press</a></h1>
		<h2 id="tagline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore. </h2>
		<hr />
		<ul id="nav">
	        <li><a class="first" href="/reviews">Reviews</a></li>
			<li><a href="/news">News</a></li>
	        <li><a href="/users">Staff</a></li>
	        <li><a class="last" href="/albums/calendar">Calendar</a></li>
		</ul>
		
		<%= render :partial => 'layouts/usernav' %>
	</div>
</div>